*.iml
.gradle
.kotlin
**/build/
xcuserdata
!src/**/build/
local.properties
composeApp/theprice_prefs.preferences_pb
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
*.jks
debug.keystore

# Built application files
*.apk
*.aab
composeApp/google-services.json
composeApp/release/*
composeApp/sampledata